table {
    background-color: sandybrown;
    border-radius: 8px;
}

body {
    background-image: url(res/backBlog.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 25px;
}
div, nav {
    background-color: blanchedalmond;
    border: double 5px burlywood;
    text-align: center;
    margin: 0 auto;
    border-radius:10px;
}

img, dl, table, body {
    text-align: center;
}

p strong {
    font-size: larger;
    color:black;
}

* {
    font-family: 'DejaVu Serif', Times, serif;
    color: firebrick;
    font-weight: bold;
}

a:hover {
    color:crimson;
    font-size: large;
}

a:visited {
    color:firebrick;
}

h1, h2, h3 {
    color: rgb(114 20 20);
    font-weight: bolder;

}

li {
    padding: 5px;
    margin: 0 auto 0 auto;
    list-style-type:armenian;
    text-align:left;
}


.titolo {
    font-size:55px;
    color:rgb(78 4 4);
    font-family:'Janda Stylish Script';
    font-weight:bolder;
}
.darker {
    color:rgb(78 4 4);
}
strong {
    font-style:italic;
}